@font-face {
  font-family: "Kommon Grotesque";
  src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Regular.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Regular.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Medium.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Medium.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
 src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Bold.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Bold.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-ExtraBold.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-ExtraBold.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-UltraBold.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-UltraBold.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-UltraBold.ttf') format('truetype');
  font-weight: 850;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Black.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Black.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Heavy.woff2') format('woff2'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Heavy.woff') format('woff'),
        url('/fonts/kommon-grotesk-condensed/KommonGroteskCon-Heavy.ttf') format('truetype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
