@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-UltraBold.woff2")
    format("woff2");
  font-weight: 850;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/Kommon-Grotesk-Con-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kommon Grotesque";
  src: url("/fonts/kommon-grotesk-condensed/kommon-grotesk-con-heavy.otf")
    format("opentype");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
